/* Define page colors as variables */
:root {
    --light: cornflowerblue;
    --dark: navy;
    --light-text: white;
    --background: lightgrey;
}

/* General styles */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background);
    font-family: Helvetica, Arial, Georgia, Tahoma;
}

.header {
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.title {    
    margin: 0;
    font-size: 36px;
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: var(--background);
    font-size: 20px;
    padding-right: 20px;    
}

.navbar ul {    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 5px;
}

.navbar a {
    text-decoration: none;    
}
  
.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
  
.column-left {
    flex-grow: 0;
    flex-shrink: 0;
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
}
  
.column-right {
    border-left: 2px solid var(--dark);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    box-sizing: border-box;
}
  
.heading {
    text-align: center;
    font-size: 50px;
    margin: 0
}
  
.content {
    text-align: center;
}

.content p {
    display: flex;
    font-size: 150%;
    max-height:100%;
    text-align: left;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 3px solid var(--light-text);
}
  
.content img.large {
    width: 100%;
    max-width: 100%;
}

.content .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .row img {
    max-width: calc(50% - 10px);
    margin: 5px;
}

.content .image-container img {
    max-width: 100%; 
    height: auto;
    width: 100%;
}

.image-container {
    position: relative;
  }
  
.image-container .overlay-text {
    position: absolute;
    bottom: 15px;
    left: 10px;
    background-color: var(--dark);
    color: var(--light-text);
    padding: 10px;
    box-sizing: border-box;
}


.content .image-container:first-child {
    margin-bottom: 10px;
}

.content .row .image-container {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.content img:hover {
    box-shadow: 0 0 30px var(--light);
    transition: box-shadow 0.3s ease;
}


/* Responsive styles for viewports 768px and smaller */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        border-right: none;
        border-top: 2px solid var(--dark);
        margin-left: 0 10px 0 10px;
    }

    .content .row .image-container {
        flex-basis: 100%;
    }

    .content .row img {
        max-width: 90%;
        margin: 5px;
    }

    .image-container .overlay-text {
        bottom: 15px;
        left: 25px;
        padding: 10px;
    }
}
