/* General styles */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgrey;
    font-family: Helvetica, Arial, Georgia, Tahoma;
}

.header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.title {    
    margin: 0;
    font-size: 36px;
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: lightgrey;
    font-size: 20px;
    padding-right: 20px;    
}

.navbar ul {    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 5px;
}

.navbar a {
    text-decoration: none;    
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns items to the right */
    margin-bottom: 20px; /* Add margin for spacing between containers */
}
  
  
.left-section {
    margin-left: 50px;
}

.left-section::after {
    border-right: 2px solid navy;
}

.right-section {
    width: 65%;
    padding: 10px;
}
  
.left-section h2 {
    font-size: 50px;
    margin: 0;
}
  
.right-section p {
    margin: 0;
}
  
.image-row {
    display: flex;
    margin-bottom: 5px; /* Add margin between image rows */
    align-items: center;
}
  
.image-row img {
    max-width: 100%;
    border: 2px solid navy;
    margin: 4px;
}
  
.image-row img:first-child {
    flex: 1; /* Take full width of the container */
    max-height: 450px;
    margin: auto;
}
  
.image-row img:not(:first-child) {
    flex: 0 0 50%; /* Take 50% of the width */
    max-height: 350px;
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .header {
        height: auto; /* Allow header to grow based on content */
        padding: 20px 20px; /* Adjust padding */
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center align items */
    }
    
    .profile-img {
        margin-bottom: 10px; /* Add some spacing */
    }

    .title {
        position: static; /* Remove absolute positioning */
        transform: none; /* Reset transform */
    }

    .navbar {
        position: static; /* Remove absolute positioning */
        bottom: auto; /* Reset bottom position */
        right: auto; /* Reset right position */
        margin-top: 10px; /* Add some spacing */
    }
    
    .right-section {
        width: 100%;
    }

}
